<div id="telaPedido">
  <md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini md-primary md-hue-3" ng-click="pedido.novoPedido()" aria-label="novo pedido">
        <md-icon>refresh</md-icon>
        <md-tooltip md-direction="right">NOVO PEDIDO</md-tooltip>
      </md-button>
      <span layout="row" layout-align="center" flex>Pedido {{pedido.nota.numero}}</span>
      <md-button class="md-fab md-mini md-primary md-hue-3" ng-click="pedido.imprimir()" aria-label="imprimir">
        <md-icon>print</md-icon>
        <md-tooltip md-direction="left">IMPRIMIR</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <form name="pedido.formPedido" ng-submit="pedido.adicionarProduto()" flex="90" flex-offset="5">
    <div layout="row" ng-repeat="(key,produto) in pedido.nota.itens" flex>
      <div layout="row" layout-xs="column" flex>
        <md-input-container flex-gt-xs="15" flex-sm="15" flex-gt-sm="10">
          <label>QTD</label>
          <md-icon>label</md-icon>
          <input type="number" ng-model="produto.quantidade" required>
        </md-input-container>
        <md-autocomplete flex md-search-text="produto.descricao" md-items="item in pedido.carregaProdutos(produto.descricao)" md-item-text="produto.descricao" md-floating-label="Descrição do Produto" md-search-text-change="produto.descricao = pedido.upperCase(produto.descricao)" md-selected-item-change="produto.descricao = item.descricao; produto.preco = item.preco; pedido.salvar = false;" required>
          <md-item-template>
            <span md-highlight-text="produto.descricao">{{ item.descricao }}</span>
          </md-item-template>
        </md-autocomplete>
        <md-input-container flex-gt-xs="15" flex-sm="15" flex-gt-sm="10">
          <label>PREÇO</label>
          <input type="text" ng-model="produto.preco" required ui-money-mask>
        </md-input-container>
        <md-input-container flex-gt-xs="15" flex-sm="15" flex-gt-sm="10">
          <label>VALOR</label>
          <input type="text" ng-value="produto.preco * produto.quantidade | currency:'R$'" disabled>
        </md-input-container>
        <md-input-container flex="5">
          <md-checkbox ng-model="pedido.alterar" ng-if="pedido.nota.itens.length -1 === key"></md-checkbox>
        </md-input-container>
      </div>
    </div>
    <md-input-container>
      <md-button class="md-raised md-primary" type="submit" ng-disabled="pedido.formPedido['$invalid']">Adicionar Produto</md-button>
    </md-input-container>
  </form>
</div>