<div id="telaEmpresa">
	<div layout="row">
		<form name="empresaForm" flex="50" layout-padding>
			<md-input-container class="md-block">
				<label>Razão Social</label>
				<input name="razaoSocial" ng-model="$ctrl.empresa.razaoSocial">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Nome Fantasia</label>
				<input name="nomeFantasia" ng-model="$ctrl.empresa.nomeFantasia">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Descrição</label>
				<input name="descricao" ng-model="$ctrl.empresa.descricao">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Endereco</label>
				<input name="endereco" ng-model="$ctrl.empresa.endereco">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Bairro</label>
				<input name="bairro" ng-model="$ctrl.empresa.bairro">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Cidade</label>
				<input name="cidade" ng-model="$ctrl.empresa.cidade">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Telefone</label>
				<input name="telefone" ng-model="$ctrl.empresa.telefone">
			</md-input-container>
		</form>
		<div flex="30" flex-offset="10" layout-padding>
			<div ng-bind-html="$ctrl.nota"></div>
		</div>
	</div>
</div>
